@model WebMVC.ViewModels.Header

<div class="bs-header">
    <div class="container">
        <a class="bs-header-back" asp-area="" asp-controller="@Model.Controller" asp-action="Index">@Model.Text</a>
    </div>
</div>
