@{
    ViewData["Title"] = "Catalog";
    @model WebMVC.ViewModels.CatalogViewModels.IndexViewModel
}

<section class="bs-catalog-filters">
    <div class="container">
        <form asp-action="Index" asp-controller="Catalog" method="post">
            <input class="bs-catalog-send" type="image" src="~/images/arrow-right.svg" />
        </form>
    </div>
</section>

<div class="container">

    @if (Model.CatalogItems.Count() > 0)
    {
        @Html.Partial("_pagination", Model.PaginationInfo)

        <div class="bs-catalog-items row">
            @foreach (var catalogItem in Model.CatalogItems)
            {
                <div class="bs-catalog-item col-md-4">
                    @Html.Partial("_product", catalogItem)
                </div>
            }
        </div>

        @Html.Partial("_pagination", Model.PaginationInfo)
    }
    else
    {
        <div class="bs-catalog-items row">
            THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
        </div>
    }
</div>
